
h1{
    text-align: center;
}
     section.seccion1{       
        display: flex;   
        height:auto
        
        }
    .box_title1 {
        height: 40px;
        margin-top: 30px;
        background-color: rgb(102, 98, 98);
        padding: 10px;
        padding-bottom: 30px;     
        display: flex; 
        margin-left: 200px;
        margin-right: 200px;
    }
    h2 {
        font-size: x-large;
        font-style: inherit;
        margin-left: 50px;
        padding-bottom: 50px;

    }
.box_content1{  
    margin-left: 100px;
    margin-right: 200px;    
}

img.img1 {
    float: left; 
    padding-right: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 180px;
}
p {
    font-size: larger;
    margin-right: 250px;
    margin-left: 250px;
    
}
section.seccion2{   
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 30%;
    height:auto
    }

.box_title2 {
    height: 40px;
    background-color: rgb(102, 98, 98);
    padding: 10px;       
    padding-bottom: 30px;   
    display: flex; 
    margin-left: 200px;
    margin-right: 200px;
}
.box_content2{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 50px;
}
img.img2{
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
    width: 130px;
    height: 150px;
}
